<div class="description text-centered">
  <img src="{{root_url}}/assets/img/avatars/9d29c016-3b8a-413d-9be9-49b5632b3a3f.jpeg" alt="Luis J. Centeno" class="profile-pic">
  <div class="columns">
    <div class="column is-offset-3-desktop is-half-desktop is-full-mobile">
      <h2 class="title is-3">Web Developer</h2>
      <p style="margin-bottom: 20px">
        {{ site.long_description }}
      </p>
    </div>
  </div>
</div>
<div class="skills text-centered">
  <h3 class="title is-4">Backend Frameworks</h3>
  <div class="columns is-mobile is-multiline is-centered">
    {% for backend in site.data.skills[0].backend %}
    <div class="column is-full-mobile is-one-quarter-desktop">
      {% include /components/skill_card.html skill=backend %}
    </div>
    {% endfor %}
  </div>
  
  <h3 class="title is-4">Frontend Frameworks & Tools</h3>
  <div class="columns is-mobile is-multiline is-centered">
    {% for frontend in site.data.skills[1].frontend %}
    <div class="column is-full-mobile is-one-quarter-desktop">
      {% include /components/skill_card.html skill=frontend %}
    </div>
    {% endfor %}
  </div>

  <h3 class="title is-4">Desktop</h3>
  <div class="columns is-mobile is-multiline is-centered">
    {% for desktop in site.data.skills[2].desktop %}
    <div class="column is-full-mobile is-one-quarter-desktop">
      {% include components/skill_card.html skill=desktop %}
    </div>
    {% endfor %}
  </div>

  <h3 class="title is-4">Mobile</h3>
  <div class="columns is-mobile is-multiline is-centered">
    {% for mobile in site.data.skills[3].mobile %}
    <div class="column is-full-mobile is-one-quarter-desktop">
      {% include components/skill_card.html skill=mobile %}
    </div>
    {% endfor %}
  </div>  
</div>
