<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{site.title}} | {{include.title}}</title>
  <meta name="description" content="I'm a Web developer and this is my personal web page, i talk about software development and my personal projects">
  <meta name="keywords" content="Luis Johany Centeno Rails React Ruby VueJS Development Desarrollo Web 2018 Progresive Web apps">
  <meta name="author" content="Luis J. Centeno">
</head>
