<nav class="navbar is-transparent" role="navigation" style="margin-bottom: 15px;">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{{root_url}}/assets/img/{{site.logo}}" alt="Bulma: a modern CSS framework based on Flexbox" width="28" height="28">
      <b class="brand-text">| {{site.title}}</b>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>