<div class="columns is-mobile is-centered">
  <div class="column is-three-quarters-desktop">
    <div class="pricing-cards">
      <div class="pricing-card">
        <div class="pricing-card-header">
          <h3 class="title is-size-3">Silver</h3>
          <p>
            If you want a simple starter Website for your brand or store
          </p>
        </div>
        <div class="pricing-card-body">
          <div class="main-price">
            <h4 class="is-size-1 title">$300 USD</h4>
          </div>
          <div class="pricing-items">
            <ul class="items-list">
              <li>Website design</li>
              <li>Website hosting</li>
              <li>Custom Domain</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="pricing-card">
        <div class="pricing-card-header">
          <h3 class="title is-size-3">Gold</h3>
          <p>
            If you want a Website and an App (Android only)
          </p>
        </div>
        <div class="pricing-card-body">
          <div class="main-price">
            <h4 class="is-size-1 title">$600 USD</h4>
          </div>
          <div class="pricing-items">
            <ul class="items-list">
              <li>Website and App design</li>
              <li>Scalable server hosting</li>
              <li>Deploy to Google Play</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="pricing-card">
        <div class="pricing-card-header">
          <h3 class="title is-size-3">Diamond</h3>
          <p>
            If you want and advanced and high quality solution
          </p>
        </div>
        <div class="pricing-card-body">
          <div class="main-price">
            <h4 class="is-size-1 title">$1000 USD</h4>
          </div>
          <div class="pricing-items">
            <ul class="items-list">
              <li>Website and App design</li>
              <li>Scalable server hosting</li>
              <li>Deploy to AppStore and Google Play</li>
              <li>Custom training and support</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
