<link rel="stylesheet" href="{{"assets/css/bulma.css" | relative_url}}">
<link rel="stylesheet" href="{{"assets/css/base.css" | relative_url}}">
<link rel="stylesheet" href="{{"assets/css/main.css" | relative_url}}">
<link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?9ukd8d">
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117838046-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117838046-2');
</script>
