.post-container {
  img.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }
  .post-container .author-card {
    display: flex;
  }
  .post-container .author-card .social-links {
    padding-left: 15px;
  }
  .post-date {
    float: right;
  }

  .cover-area {
    height: 250px;
    background-size: cover;
    background-position: center;
    background-color: #6c6f7b;
    background-blend-mode: overlay;
  }

  h1, h2, h3, h4, h5, h6 {
    padding-top: 6px;
    padding-bottom: 2px;
  }

  .highlight {
    background-color: #292d3e;
    border-radius: 6px;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    code {
      color: white;
      .nb, .o {
        color: white;
      }
      .nv {
        color: #885953;
      }
      .s1 {
        color: #c6a15e;
      }
      .c {
        color: rgb(133, 133, 133);
      }
    }
  }

  ul {
    list-style: inside;
  }
}
