div.skill-card {
  .card-content {
    text-align: center;
  }
  img {
    height: 110px;
    width: auto;
  }
  .card-header {
    span {
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}