section {
  min-height: 100vh;
}

.navbar .brand-text {
  padding-left: 15px;
  font-size: 14pt;
}

.site-header {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0000005b;
  background-blend-mode: darken;
  text-align: center;
  color: white;
  padding: 8px;
  display: flex;
}

.site-header .header-content {
  display: flex;
  width: 100%;
}

.site-description {
  font-size: 14pt;
}

.main-info {
  justify-content: center;
  align-items: center;
}

.main-info .info-content {
  width: 30%;
}

.main-info h1 {
  font-weight: bold;
}

.main-info h2 {
  font-size: 22pt;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .main-info .info-content {
    width: 100%;
  }
  .social-link {
    font-size: 18pt !important;
  }
}

.site-header h1 {
  font-style: bold;
  font-size: 34pt;
}

.site-header p {
  padding-bottom: 25px;
}

.site-header .nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 12px;
}

.nav-bar img.logo {
  height: 48px;
  width: auto;
  margin-right: 8px;
}

.social-links {
  width: 100%;
  justify-content: flex-end;
  text-align: right;
}

.social-link {
  font-size: 22pt;
  color: white;
  padding: 4%;
}

.social-link:hover {
  color: rgb(228, 228, 228);
}

.page-links {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-links a {
  color: white;
  font-size: 13pt;
  font-weight: bold;
  transition: 0.5s;
}

.page-links a:hover {
  color: rgb(102, 102, 245);
  text-decoration: underline;
}

.page-links a:nth-child(even) {
  margin: 0px 50px;
}

section {
  padding: 10px;
}

section.blog-posts,
section.pricing {
  background-color: #263238;
}

.blog-posts h1 {
  color: white;
}

section.portfolio .card i {
  font-size: 22pt;
  line-height: 1.5;
  color: #464646;
}

.columns {
  margin: 0;
}

.center-text,
.text-centered {
  text-align: center;
}

img.profile-pic {
  height: 180px;
  width: auto;
  border-radius: 200px;
}

.pricing-cards {
  display: flex;
  justify-content: space-around;
}

.pricing-card {
  min-height: 350px;
  border-radius: 8px;
  background-color: white;
  width: 320px;
  text-align: center;
}

.pricing-card .pricing-card-header {
  padding: 10px;
}
.pricing-card .main-price {
  padding-top: 30px;
  padding-bottom: 30px;
}

.items-list {
  padding: 0px 10px 10px 10px;
}

.pricing-items .items-list li {
  padding: 10px 10px 10px 10px;
  list-style: none;
}

/* Flex classes */
.is-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}
