<div class="column is-one-third-desktop is-half-tablet is-full-mobile">
  <div class="card" style="height: 100%;">
    <a class="card-image" href="{{post.url}}">
      <figure class="image is2by1">
        <img src="{{post.cover}}" alt="{{post.title}}">
      </figure>
    </a>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <a class="title is-4" href="{{post.url}}">{{post.title}}</a>
          <br>
          <p class="subtitle is-6">@{{post.author}}</p>
        </div>
      </div>
      <div class="content">
        <p>{{post.description}}</p>
        {% for category in post.categories %}
        <a href="/tags/#{{ category }}">#{{category}}</a>
        {% endfor %}
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item" href="{{post.url}}">Read more</a>
    </footer>
  </div>
</div>