<div class="column is-one-third-desktop is-half-tablet is-full-mobile">
  <div class="card">
    <a href="{{root_url}}/projects/{{project.page}}" class="card-image">
      <figure class="image is-2by1">
        <img src="{{project.cover | relative_url}}" alt="{{project.name}}">
      </figure>
    </a>
    <div class="card-content">
      <div class="card-media">
        <div class="media-content">
          <h2 class="title is-4">{{project.name}}</h2>
          <p>{{project.description}}</p>
          <div>
            {% for tool in project.stack %}
            <i class="devicon-{{tool}}-plain"></i>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item" href="{{root_url}}/projects/{{project.page}}">More details</a>
    </footer>
  </div>
</div>
