{% 
  include head.html 
  title=page.title
  description=page.description
  keywords=site.keywords
  url=page.url
  image=page.cover
%}
{% include styles.html %}
<body>
  <div class="project-header" style="background-image: url('{{ root_url }}/{{ page.cover }}')">
    {% include navbar.html %}
    <div class="cover">
      <div class="content">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
      </div>
    </div>
  </div>
  <div>
    <div class="columns is-mobile is-centered project-container">
      <div class="column is-half-desktop is-12-mobile">
        <div class="project-content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %} {% include analytics.html %}

</body>